body {
    background-color: rgba(204, 204, 204, 0.842);
}

.backgroundark {
    background-color: rgb(56, 56, 56);
}

.backgrounred {background-color: rgb(145, 3, 3);


}


.backgroundarkred {
    background-color: rgb(138, 4, 4);
}

.header {
    font-family: 'Audiowide', cursive;
}

.navbar {font-family: 'Playfair Display', serif;}

.text {font-family: 'Old Standard TT', serif;;
            
}

h2 {
    font-family: 'Audiowide', cursive;
    font-size: 6mm	;
}


.video {width: auto;}

.test {
    height: 100%;
    width: 100%;
}

.taille {
    height: 30rem;
}


.taille2 {
    height: 39rem;
}

.taille3 {
    height: 15rem;
}

.flotter {
    height: 20rem;
}


.p1 {
    line-height: 200%;
}

